@import "./toggle.scss";

#Header {
  display: flex;
  justify-content: space-around;
  background-color: black;
  height: 4rem;
  width: 100vw;
  font-family: "Courier New", Courier, monospace;

  .name {
    display: flex;
    align-items: center;

    h1 {
      color: white;
      font-size: 1.5rem;
      font-weight: normal;
    }
  }

  .tabs {
    display: flex;
    justify-content: center;
    gap: 1rem;

    button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      color: white;

      &:hover {
        padding-top: 5px;
        text-decoration: underline;
      }
    }
  }
}
